.dish-card {
  .ant-card-meta-description {
    min-width: 0;
  }

  &__image {
    height: 192px;
    width: 100%;
    background: var(--color-primary-light-gradient);
  }

  &__title {
    min-width: 0;

    .ant-typography {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-bottom: 0 !important;
  }

  &__main-ingredients {
    .ant-typography {
      font-weight: 500;
      font-size: var(--font-size-xs);
    }
  }
}