.avatar {
  background-color: var(--color-bg-base);
  border: var(--border-size-avatar) solid var(--color-primary);
  color: var(--color-primary);

  &__wrap {
    cursor: pointer;
    display: inline-flex;
    line-height: 0;

    .ant-avatar {
      background-color: transparent;
    }

    .ant-typography { 
      font-size: var(--font-size-lg);
      color: var(--color-primary);
    }
  }
}