.avatar {
  background-color: var(--color-bg);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);

  &__wrap {
    cursor: pointer;
    display: inline-flex;
    line-height: 0;

    .ant-avatar {
      background-color: transparent;
    }

    .ant-typography { 
      font-size: var(--font-size);
      color: var(--color-primary);
    }
  }
}