!.*
node_modules
vite.config.ts
.eslintrc.cjs
.eslintignore
.editorconfig
*.config.js
.husky
.prettierignore
.prettierrc.json
.stylelintignore
.stylelintrc.json
index.html
*.json
/build
/dist
yarn.lock
package-lock.json
src/assets
*.svg