.cover-icon {
  height: clamp(104px, 28vw, 192px);
  width: 100%;
  background: var(--color-primary-light-gradient);
  display: flex !important;
  align-items: center;
  justify-content: center;

  .anticon {
    width: clamp(36px, 11vw, 60px);
    height: clamp(36px, 11vw, 60px);
    font-size: clamp(36px, 11vw, 60px);
    color: var(--color-primary);
  }
}