.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: -5%;
    background: url('../../assets/login-background.png') center/cover no-repeat;
    z-index: -1;
  }

  &__content {
    background-color: #FFFAF3;
    padding: 32px;
    border-radius: 16px;
    border: 8px solid #f7a348;

    & input {
      min-width: 350px;
    }

    & .ant-form-item:last-child {
      margin-bottom: 0;
    }
  }

  &__buttons {
    width: 100%;

    & a {
      color: #f7a348;
      white-space: nowrap;

      &:hover {
        color: #ffc073;
      }
    }

    .ant-divider {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &__title {
    color: #f7a348 !important;
    margin-bottom: 0 !important;
  }

}