@use '@styles/variables/breakpoints' as bp;

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #FFFBEB;
  background-image: url('../../assets/auth-background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    overflow: hidden;
    border: 1px solid var(--color-bg-secondary);
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    @include bp.below(400px) {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__icon {
    border-radius: 25%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  &__content {
    background-color: var(--color-bg-secondary);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-lg);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);

    @include bp.below(400px) {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .ant-form {
      width: 100%;
    }
  }

  &__title {
    .ant-typography {
      margin-bottom: 0;
    }

    .ant-typography-secondary {
      width: 300px;
      text-align: center;

      @include bp.below-h(815px) {
        display: none;
      }
    }
  }

  &__remember-me {
    margin-bottom: var(--margin-lg);
  }

  &__divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &__buttons {
    width: 100%;

    .ant-btn {
      font-size: var(--font-size-lg) !important;
    }

    .vk-icon {
      font-size: 22px !important;
      margin-top: 3px !important;
    }

    .apple-icon {
      margin-top: 3px !important;
    }
  }

  &__footer {
    padding: var(--padding-lg) var(--padding-xl);
    text-align: center;
    background-color: var(--color-bg);
  }
}
