@use '@styles/variables/breakpoints' as bp;

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .ant-layout-header {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: stretch;
  }
  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--color-light-gray);

    &--container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      flex: 1;
      min-height: 0;
    }

    &--logo {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-primary)
    }
     
    &--menu {
      flex: 1;
      margin: 0 var(--margin-xxl);
      background-color: var(--color-bg-secondary);
      font-size: 16px;
      border: none;
      justify-content: center;

      svg {
        font-size: 16px;
      }
    }
  }

  &__header--mobile {
    top: auto;
    bottom: 0;
    border-top: 1px solid var(--color-light-gray);
    height: 60px;

    .page-layout__header--container {
      padding: 0;
    }

    &-menu {
      width: 100%;
      margin-inline: 0;
    }

    &-menu-item {
      cursor: pointer;

      &-active,
      &:hover {
        color: var(--color-primary);

        .ant-typography {
          color: var(--color-primary);
        }
      }

      .ant-typography {
        font-size: var(--font-size-xxs);
      }

      .ant-flex {
        height: 100%;
      }
    }
  }
  

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: var(--padding-xl) var(--padding-xl);
  }

  &__container,
  &__header--container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: var(--margin);

    .ant-typography {
      margin-bottom: 0;
    }

    .ant-btn {
      @include bp.below-xs {
        aspect-ratio: 1;
      }
    }
  }
}

