.page-layout {
  min-height: 100vh;

  .ant-layout-header {
    padding-left: 0;
    padding-right: 0;
  }
  &__header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

    &--container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
    }

    &--logo {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
     

    &--avatar-wrap {
      cursor: pointer;
      display: inline-flex;
      line-height: 0;
    }

    &--avatar {
      background-color: var(--color-bg-secondary);
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
    }

    &--menu {
      flex: 1;
      margin: 0 var(--margin-xxl);
      background-color: var(--color-secondary);
      font-size: 16px;
      border: none;
      justify-content: center;

      svg {
        font-size: 16px;
      }
    }

    &--mobile-container {
      display: flex;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      height: 100%;

      .ant-btn {
        font-size: var(--font-size-lg);
      }
    }

    &--mobile-drawer {
      .page-layout__header--menu {
        border-inline-end: none !important;
      }

      .ant-menu-item {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
      }

      .ant-drawer-header-title {
        flex-direction: row-reverse;
      }
    }

    &--mobile-drawer-content {
      height: 100%;
    }

    &--mobile-profile {
      .ant-avatar-string {
        font-size: var(--font-size-lg);
      }
      .ant-typography {
        font-size: var(--font-size);
        color: var(--color-primary);
      }
    }

    &--mobile-settings {
      font-size: var(--font-size-lg);
    }
  }

  &__content {
    padding: var(--padding-xl) var(--padding-xl);
  }

  &__container,
  &__header--container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

