@use "default_variables";

.ant-input-affix-wrapper {
  .ant-input-prefix {
    color: var(--color-icon-secondary);
  }
}

.ant-select {
  .ant-select-prefix {
    color: var(--color-icon-secondary);
  }
}

.ant-form-item-label label {
  height: auto !important;
}

.ant-divider  {
  .ant-divider-inner-text {
    color: var(--color-text-secondary) !important;
    font-size: var(--font-size-sm) !important;
  }
}

.ant-dropdown-menu-item-icon,
.ant-btn-icon,
.ant-card-actions .anticon,
.ant-radio-group .anticon  {
  font-size: 16px !important;
}