@use '@styles/variables/breakpoints' as bp;

.dish-collections-modal {
  &__content {
    max-height: 600px;
    overflow: auto;
  }

  @include bp.below-h(860px) {
    &__content {
      max-height: 500px;
    }
  }

  @include bp.below-h(760px) {
    &__content {
      max-height: 400px;
    }
  }
  
  @include bp.below-h(660px) {
    &__content {
      max-height: 300px;
    }
  }
}