@use '@styles/variables/breakpoints' as bp;

.collection {
  &__create-btn-text {
    @include bp.below-xs {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}
